<div class="row">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><%= link_to 'Issues', issues_path %></li>
      <li><%= link_to @issue.name, issue_path(@issue) %></li>
      <li><%= link_to @update.name, issue_update_path(@issue, @update) %></li>
    </ol>
    <h1 class="text-center"><%= @issue.name %></h1>
    <div class="progress">
      <div class="<%= progress_bar_class(@issue.total_score) %>" role="progressbar" aria-valuenow="<%= @issue.total_score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @issue.total_score %>%;">
	<%= @issue.total_score %>%
      </div>
    </div>
    <p class="lead text-center">
      <%= @issue.description %>
    </p>
    <h3 class="text-center"><%= @update.name %></h3>
    <p class="text-center">
      <%= @update.description %>
    </p>
    <p class="text-center">
      <%= @update.citation %>
    </p>
  </div>
</div>
