<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#trump-navbar" aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">ITW</a>
    </div>

    <div class="collapse navbar-collapse" id="trump-navbar">
      <ul class="nav navbar-nav">
	<li class="active"><a href="<%= issues_path %>">Issues</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? %>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	      <%= current_user.username %> <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
	      <% if is_admin? %>
	        <li><%= link_to 'Create Issue', new_issue_path %></li>
	      <% end %>
	    </ul>
	  </li>
	  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
	<% else %>
	  <li><%= link_to 'Sign in', new_user_session_path %></li>
	  <li><a href="<%= new_user_registration_path %>">Sign up</a></li>
	<% end %>
      </ul>
    </div>
  </div>
</nav>
